# Node.js
node_modules/
npm-debug.log
yarn-error.log

# npm
*.log
*.lock
package-lock.json

# yarn
yarn-error.log
.yarn-integrity

# Dependency directories
jspm_packages/
typings/

# Optional: Logs and debugging files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln


.env